---
import "../styles/global.css";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<html lang="en" class="min-h-full min-w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>TWONy-macro</title>
  </head>
  <body class="min-h-full min-w-full">
    <div
      class="absolute top-0 left-0 z-50 hidden w-auto rounded-br-2xl bg-black/10 backdrop-blur-md md:block"
    >
      <Header />
    </div>
    <main class="relative h-screen w-screen">
      <div id="3d-graph"></div>
      <div
        class="absolute bottom-0 left-0 z-50 rounded-tr-2xl bg-black/10 p-4 w-full md:w-auto backdrop-blur-md"
      >
        <div class="relative block h-42 w-full md:w-2xl">
          <canvas id="eval-chart"> </canvas>
        </div>
      </div>
    </main>
    <div
      class="absolute right-0 bottom-0 z-50 hidden w-auto rounded-tl-2xl bg-black/10 backdrop-blur-md md:block"
    >
      <Footer />
    </div>
  </body>

  <script>
    import _ from "lodash";
    import {
      createChart,
      prepareChart,
      updateChartData,
    } from "@logic/chart.js";
    import {
      createGraph,
      generateGraphData,
      applyColorScale,
      toggleOrbitControls,
    } from "@logic/graph.js";
    import { createGUI } from "@logic/gui.js";

    import { config } from "@logic/config.ts";
    import { deffuant_weibach_bcm, select_neighbor } from "@logic/model.ts";

    import { type NodeData, get_neighbors } from "@logic/generator.ts";

    const graphEL: HTMLElement = document.getElementById(
      "3d-graph",
    ) as HTMLElement;
    const canvasEL: HTMLCanvasElement = document.getElementById(
      "eval-chart",
    ) as HTMLCanvasElement;

    let data: Array<NodeData> = [];

    createGUI([startSimulation, pauseSimulation, resetSimulation]);
    const chart = createChart(canvasEL);
    const graph = createGraph(graphEL);

    resetSimulation();

    function startSimulation() {
      if (config.state.running) return;

      console.debug("> Starting Simulation.");
      config.state.running = true;
      toggleOrbitControls(graph);

      const runner = setInterval(() => {
        if (
          config.state.current_step >= config.model.n_steps ||
          !config.state.running
        ) {
          clearInterval(runner);
          pauseSimulation();
        }

        for (let i = 0; i < data.length; i++) {
          const neighbor = get_neighbors(i, graph.graphData().links);

          const selected_neighbor_value = select_neighbor(
            data[i].sentiment,
            neighbor,
            config.model.sorting,
          );

          data[i].sentiment = deffuant_weibach_bcm(
            data[i].sentiment,
            selected_neighbor_value,
          );
        }

        applyColorScale(graph);
        setCurrentEvaluation();
        updateChartData(chart, data);

        config.state.current_step++;
      }, 50);
    }

    function pauseSimulation() {
      if (!config.state.running) return;

      console.debug("> Pause Simulation.");
      config.state.running = false;
      toggleOrbitControls(graph, false);
    }

    function resetSimulation() {
      console.debug("> Resetting Simulation.");
      if (config.state.running) pauseSimulation();

      data = generateGraphData(graph);

      setCurrentEvaluation();
      prepareChart(chart, data);

      config.state.current_step = 0;
    }

    function setCurrentEvaluation() {
      config.state.current_evaluation = _.mean(data.map((d) => d.sentiment));
    }
  </script>
</html>
