---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout title="TWONy-macro - Simulation">
  <div id="3d-graph"></div>
  <div
    class="absolute bottom-0 left-0 z-50 w-full rounded-tr-2xl bg-black/10 p-4 backdrop-blur-md md:w-auto"
  >
    <div class="relative block h-42 w-full md:w-2xl">
      <canvas id="eval-chart"> </canvas>
    </div>
  </div>
</BaseLayout>

<script>
  import { createChart } from "@logic/chart.js";
  import { createGraph } from "@logic/graph.js";
  import { createGUI } from "@logic/gui.js";
  import { createSimulationController } from "@logic/simulation.ts";

  const graphEL: HTMLElement = document.getElementById(
    "3d-graph",
  ) as HTMLElement;
  const canvasEL: HTMLCanvasElement = document.getElementById(
    "eval-chart",
  ) as HTMLCanvasElement;

  const chart = createChart(canvasEL);
  const graph = createGraph(graphEL);
  const simulation = createSimulationController({ chart, graph });

  createGUI([simulation.start, simulation.pause, simulation.reset]);
  simulation.reset();
</script>
