---

---

<footer class="flex flex-col items-end justify-end gap-2 p-2">
  <span class="text-xs text-slate-300">
    <a href="https://www.twon-project.eu/" target="_blank">
      twon Project (EU-Horizon 2020)
    </a>
    ·
    <a href="https://www.uni-trier.de/impressum" target="_blank">Imprint</a>
    ·
    <a href="https://www.uni-trier.de/datenschutzerklaerung" target="_blank">
      Data Privacy
    </a>
  </span>
  <span class="text-xs text-slate-400">
    This work is fully supported by twon (project number 101095095), a research
    project funded by <br />
    the European Union under the Horizon framework (HORIZON-CL2-022-DEMOCRACY-01-07).
  </span>
</footer>
