---

---

<footer class="flex flex-row items-center justify-end p-4">
  <span class="text-xs text-slate-200">
    This work is fully supported by twon (project number 101095095), a research
    project funded by <br />
    the European Union under the Horizon framework (HORIZON-CL2-022-DEMOCRACY-01-07).
  </span>
</footer>
