---

---

<footer class="flex flex-col items-end justify-end gap-2 p-2">
  <span class="text-xs text-slate-300">
    <a href="https://linkedin.com/in/simon-muenker" target="_blank">
      Simon Münker
    </a>
    ·
    <a href="https://linkedin.com/in/achim-rettinger" target="_blank">
      Achim Rettinger
    </a>
    ·
    <a href="https://github.com/simon-muenker/TWONy-macro" target="_blank">
      Github
    </a>
  </span>
  <span class="text-xs text-slate-300">
    <a href="https://www.twon-project.eu/" target="_blank">
      twon Project (EU-Horizon 2020)
    </a>
    ·
    <a href="https://www.uni-trier.de/impressum" target="_blank">Imprint</a>
    ·
    <a href="https://www.uni-trier.de/datenschutzerklaerung" target="_blank">
      Data Privacy
    </a>
  </span>
  <span class="text-right text-xs text-slate-400">
    This work is fully supported by twon (project number 101095095),<br />
    a research project funded by the European Union under the <br />
    Horizon framework (HORIZON-CL2-022-DEMOCRACY-01-07).
  </span>
</footer>
